
/*1*/
section ul li {
    color: yellow;
    background-color: black;
}
nav ul li {
    color: orange;
    background-color: cyan;
}
nav~section {
    width: 49%;
    display: inline-block;
}
nav+section {
    height: 50vh;
}

/*2*/
[class^=big] {
    font-size: large;
}
/*3*/
section ul li:first-child {
    color: white;
}
section ul li:last-child {
    color: white;
}
input:nth-child(even), label:nth-child(even) {
    color: black;
    background-color: grey;
}
input:nth-child(odd), label:nth-child(odd) {
    color: lightgrey;
    background-color: black;
}
input:valid {
    border-color: green;
    border-style: dashed;
}
input+span::after {
    content: url("../img/v.png");
}
/*4*/
p::first-letter {
    font-size: 200%;
}
p::before {
    content: url("../img/auteur.jpg");
}
::selection {
    background-color: black;
    color: #00d11a;
}


section {
    background-color: lightblue;
    display: inline-block;
}
@media screen and (max-width:479px) {
    section {
        width: 100%;
    }
}
@media screen and (min-width:480px) and (max-width:719px) {
    section {
        width: 49%;
    }
}
@media screen and (min-width:720px) {
    section {
        width: 32.5%;
    }
}